@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: outfit;
    
    color: hsl(30, 10%, 34%);

}

p {
    font-size: 16px;
}

#container {
    padding: 35px;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-radius: 20px;
    margin: 50px auto;
    
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

h1, h2 {
    font-family: young-serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

#preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 5px 20px;
    border-radius: 10px;
}

ol > li {
    margin-bottom: 10px;
}

.bol {
    font-weight: bold;
}

.bottom_line {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#nutrition {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.rose {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.padd {
    padding: 10px 0;
}

.left_padd {
    padding-left: 30px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
